[defaults]
host_key_checking = False
remote_user = ec2-user
private_key_file = /home/egurnat/.ssh/natavan-useast1-dvft.pem

[ssh_connection]
ssh_args = -F /home/egurnat/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
